<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Animated Login Form | CodingNepal</title>
    <link  rel = "stylesheet" href="/css/register.css" >

  </head>
  
  <body>

    <div class="center">
      <h1>Login</h1>
      <h3><%= error %></h3>
      <form method="post" action="/adddetails">
        <div class="txt_field">
          <input type="text" name="name" required>
          <span></span>
          <label>Username</label>
        </div>
        <div class="txt_field">
          <input type="email" name="email" required>
          <span></span>
          <label>Email</label>
        </div>
        <div class="txt_field">
            <input type="password" name="password" required>
            <span></span>
            <label>Password</label>
          </div>
      
        <input type="submit" value="Register">
        <br>

        already have an account? <a href="/">login</a>
        
      </form>
    </div>

  </body>
</html>
