<!DOCTYPE html>
<html>

<head>
  <title>Welcome</title>
</head>



<!-- This File is rendering the welcome page -->
<body>
  <div class="jumbotron">
    <h1>Welcome, <%= name %>! To This Website</h1>
    <a href="/">Logout</a>
  </div>
</body>

</html>
