<!DOCTYPE html>
<html>

<head>
  <title>Welcome</title>
  <link  rel = "stylesheet" href="/css/welcome.css" >

</head>



<!-- This File is rendering the welcome page -->
<body>
  <div class="jumbotron">
    <
    
    <h1>Welcome, <%= name %>! To This Website</h1>
    <a href="/logout">Logout</a>
  </div>
</body>

</html>
